
#container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
/* .left-div,
.right-div {
    background-color: white;
    flex: 1;
}
.left-div {
    padding: 16px;
    margin-right: 16px;
}

@media (max-width: 767px) {
    .left-div {
        margin: 0;
    }
} */

.header {
    color: white;
    background-color: blue;
    padding: 8px 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.repo-selector {
    margin-left: 16px;
    font-size: 14px;
    width: 250px;
    height: 32px;
    padding: 2px;
}